<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=tranhuywin.database.windows.net;Initial Catalog=QLBanVeMayBay;User ID=tranhuywin;Password=122771535Win"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
