<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_QuanLy.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-23LKFNO\LONG;Initial Catalog=QLBanVeMayBay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>